.newsbox {
    background-color: rgb(35, 54, 85);
    color           : white;
    display         : flex;
    justify-content : space-between;
    padding-top     : 2%;
    padding-bottom  : 2%;

}

.re_news_img_box {
    margin-left: 5%;
    width      : 79%;

}

.re_news_img_box img {
    width     : 95%;
    border    : 3px solid whitesmoke;
    margin-top: 5%;
    margin    : auto;

}

.re_news_img_box h2,
p {
    width: 70%;

}

/* 標題黃底 */
.re_news_img_box h2 {
    text-decoration      : underline;
    text-decoration-color: rgb(255, 208, 0);


    /* border-bottom: 2px solid rgb(255, 208, 0); */
}

/* 小標及日期 */
.newsinfo {
    width         : 80%;
    display       : flex;
    align-items   : center;
    letter-spacing: 0.2em;
}

.newsinfo::before {
    content         : " i";
    text-align      : center;
    align-items     : flex-end;
    border-radius   : 50%;
    width           : 18px;
    height          : 18px;
    background-color: rgb(255, 208, 0);
}

.newsicon {
    padding-right: 1em;
    border-right : 2px solid white;
}

.new_text {
    width       : 25%;
    writing-mode: vertical-lr;
    color       : white;
}

.new_text a {
    
    color          : white;
    border         : 3px solid white;
    padding        : 1%;
    text-decoration: none;
    font-size      : 1.5em;
}



/* 店鋪區塊 */

.store_rwd{
    width: 100%;
    margin:  0 auto;
}
/* 第一層 */
.store_box{
    overflow: hidden;
    position: relative;
    max-width: 1060px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto auto;

}
/* 第二層 */
.store_box_slide{
   
    width: calc(1060px * 8);
    
     margin-left: -1060px;
   
}
/* 第三層 */
.store_box_img {
    max-width:1060px;
    /* position : relative; */
    /* width: 80%; */

    float: right;
}

.store_box_img img {
    width         : 100%;
    /* padding-bottom: 5%; */


}

.store_box_text {
    width            : 53%;
    background-image : url(../images/02/so-white.png);
    background-repeat: no-repeat;
    background-size  : cover;
    position         : absolute;
    bottom           : 0%;
    left             : 0;
    display          : flex;
    justify-content  : space-between;


    padding-top: 1%;

}

.store_box_text h2 {
    font-weight: bold;
    font-weight: 900;
    margin     : 1em;

}

.store_text_botton a {
    border         : 3px solid #000;
    margin         : 1.5em;
    padding        : 0.5em;
    display        : flex;
    text-decoration: none;
    color          : black;
}
.store_next a{
    border         : 3px solid #000;
    margin         : 1.5em;
    padding        : 0.5em;
    text-decoration: none;
    color: #000; 
    background-image: url(../images/02/so-white.png);

    position:absolute;
    right: -3%;
    top: 38%;
}
.store_prev a{
    border         : 3px solid #000;
    margin         : 1.5em;
    padding        : 0.5em;
    text-decoration: none;
    color: #000; 
    position: absolute;
    left: -1.8%;
    top: 38%;
    background-image: url(../images/02/so-white.png);
    writing-mode: vertical-lr;

}
@media screen and (max-width: 1300px) {}

@media screen and (max-width: 910px) {
    .store_box_slide{
        margin-bottom: 10%;
    }
    .store_box_text {
        width            : 100%;
      
        /* position         : absolute; */
        /* bottom           :-30%;
        left             : 0; */
        /* display          : flex;
       flex-direction: column; */
    
    
        padding-top: 1%;
    
    }
}


@media screen and (max-width: 650px) {
    .store_box_text {
        width            : 100%;
      
        /* position         : absolute; */
        /* bottom           :-30%;
        left             : 0; */
        display          : flex;
       flex-direction: column;
    
    
        padding-top: 1%;
    
    }

    .re_news_img_box img {
        width: 100%;


    }

    .newsbox {

        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        padding-top    : 2%;
        padding-bottom : 2%;

    }
}