/* 背景線條 */
.linebg {
    background-image : url(../images/02/line01.png);
    background-size  : cover;
    background-repeat: no-repeat;

    padding-top        : 20%;
    /* background-color: royalblue; */
    width              : 90%;
    display            : flex;
    flex-direction     : column;
}

/* 特色1 */
.feature1 {

    box-sizing       : border-box;
    /* padding-top   : 1em;
    padding-bottom   : 2em; */
    position         : relative;

    width           : 100%;
    background-image: url(../images/paper_1.png);
    padding-top     : 100px;
    display         : flex;
    justify-content : space-around;

}



/* 特色1圖片欄 */
.feature1_img {
    /* position: relative; */
    right           : 0;
    background-color: rgb(255, 208, 0);
    width           : 30%;

}


/* 店面照片 */
.dight00 {
    width        : 30%;
    border-radius: 50%;
    position     : absolute;
    bottom       : 0%;
    right        : 0%;
}

/* 雙人PNG */
.dight01 {
    position: absolute;
    bottom  : 19%;
    right   : 30%;

}

/* 文字PNG */
.dight02 {
    position: absolute;
    bottom  : 35%;
    right   : 43%;
    animation   : dight06show 2500ms infinite ease-in-out;

}

/* 泡茶PNG */
.dight03 {

    position: absolute;
    bottom  : 0%;
    right   : 45%;
}


/* 特色1文字欄 */
.feature1_text {

    width: 40%;

}

/* 特色1文字欄裡-小標題 */
.feature1_text_banner {
    vertical-align : top;
    width          : 100%;
    display        : flex;
    justify-content: space-around;

}

.feaure1_text_banner_logo {
    background-color : rgb(255, 208, 0);
    background-image : url(../images/02/people.png);
    /* padding-bottom: 10%; */

    width        : 50px;
    height       : 50px;
    border-radius: 50px 50px;
}

.feaure1_text_banner_h4 {
    color        : rgb(255, 208, 0);
    width        : 15%;
    border-bottom: 3px solid rgb(255, 208, 0);
}

.feaure1_text_banner_p {
    color    : rgb(255, 208, 0);
    width    : 20%;
    font-size: 3em;

}

/* 特色1按鈕 */
.feature1_bnt {
    border         : 3px solid #000;
    margin         : 1.5em;
    padding        : 0.5em;
    width          : 10%;
    text-decoration: none;
    color          : black;
}

.feature1_bnt a {
    text-decoration: none;
    color          : #000;
}

/* ///////////////////feature2 女生喝茶區塊////////////////////////// */
.dight04 {
    padding-top: 15%;
    width      : 25%;
}

/*/雙人/ */
.dight_banner01 {
    width        : 35%;
    padding-right: 5%;

}

.dight_banner02 {
    margin-left: 30%;
}

.dight06 {

    position    : absolute;
    top         : 20%;
    right       : 5%;
    /* transform: translate(-100%, -30%); */
    animation   : dight06show 2500ms infinite ease-in-out;
}

@keyframes dight06show {
    0% {
        -webkit-transform: rotate(-5deg) scale(1) translate(-100%, -30%);
        transform        : rotate(-5deg) scale(1) translate(-100%, -30%);
    }

    50% {
        -webkit-transform: rotate(5deg) scale(1) translate(-100%, -30%);
        transform        : rotate(5deg) scale(1) translate(-100%, -30%);
    }

    100% {
        -webkit-transform: rotate(-5deg) scale(1) translate(-100%, -30%);
        transform        : rotate(-5deg) scale(1) translate(-100%, -30%);
    }

}

.fearure2_img {
    position           : relative;
    /* background-color: blueviolet; */
    display            : flex;
    flex-wrap          : wrap;
    /* align-content   : space-between; */
    justify-content    : space-between;
    align-items        : center;
    flex               : 0;
    background-image   : url(../images/03/line02.png);
    background-repeat  : no-repeat;

}

.feature2_textbox {

    width         : 20%;
    padding-left  : 2%;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

/* 特色2文字欄 */
.feature2_text {

    width: 20%;

}

/* 特色2文字欄裡-小標題 */
.feature2_text_banner {
    vertical-align : top;
    width          : 80%;
    display        : flex;
    justify-content: space-between
}

.feaure2_text_banner_logo {
    background-color : rgb(255, 208, 0);
    background-image : url(../images/02/people.png);
    /* padding-bottom: 10%; */

    width        : 50px;
    height       : 50px;
    border-radius: 50%;
}

.feaure2_text_banner_h4 {
    color        : rgb(255, 208, 0);
    width        : 15%;
    border-bottom: 3px solid rgb(255, 208, 0);
    margin       : 0;
}

.feaure2_text_banner_p {
    color      : rgb(255, 208, 0);
    width      : 20%;
    font-size  : 3em;
    margin-left: 0;
}

/* 特色2按鈕 */
.feature2_bnt {
    border         : 3px solid #000;
    margin         : 1.5em;
    padding        : 0.5em;
    display        : flex;
    text-decoration: none;
    color          : black;
}

.feature2_bnt a {
    text-decoration: none;
    color          : #000;
}

/* /////////////////////////////////////////////// */











@media screen and (max-width: 1300px) {

    .feature2_textbox {
        width        : 40%;
        padding-right: 25%;

    }

    .dight_banner01 {
        width        : 40%;
        padding-right: 25%;
    }



    .dight04 {
        padding-top   : 0em;
        padding-bottom: 15%;
        width         : 25%;
    }

}




@media screen and (max-width: 910px) {
    .linebg {
        /* background-color: royalblue; */
        width         : 100%;
        display       : flex;
        flex-direction: column;

    }

    /* 背景線條 */
    .linebg {
        background-image : url(../images/02/line01.png);
        background-size  : cover;
        background-repeat: no-repeat;
        width            : 100%;
    }

    .feature1 {
        padding-top   : 40%;
        padding-bottom: 2em;
        position      : relative;
    }

    /* 特色1圖片欄 */
    .feature1_img {}

    /* 店面照片 */
    .dight00 {
        width   : 50%;
        position: absolute;
        top     : -1%;
        right   : 23%;


    }

    /* 雙人PNG */
    .dight01 {
        position: absolute;
        bottom  : 8%;
        right   : 3%;

    }

    /* 文字PNG */
    .dight02 {
        position: absolute;
        bottom  : 20%;
        right   : 20%;

    }

    /* 泡茶PNG */
    .dight03 {

        position: absolute;
        bottom  : 0%;
        right   : 30%;
    }



    /* 特色1文字欄 */
    .feature1_text {
        width: 60%;

    }

    /* 特色1文字欄裡-小標題 */
    .feature1_text_banner {
        width: 80%;
    }

    .feature1 h2,
    h4 {
        margin-left : 1em;
        margin-right: 1em
    }

    /* 特色1按鈕 */
    .feature1_bnt {
        width      : 40%;
        margin-left: 1em;
    }

    .feature2_textbox {
        width        : 40%;
        padding-right: 10%;

    }

    /* 真人喝茶 */
    .dight_banner01 {

        width: 100%;
    }


    /* 雙人 */
    .dight04 {

        padding-bottom: 15%;
        width         : 40%;
    }

    /* 泡澡 */
    .dight04 {}

    .dight_banner02 {
        margin-left: 55%;
        width      : 35%;

    }





}


@media screen and (max-width: 650px) {


    .linebg {}

    /* 背景線條 */


    .feature1 {
        padding-top   : 12em;
        padding-bottom: 3em;
        position      : relative;
    }

    /* 特色1圖片欄 */
    .feature1_img {}

    /* 店面照片 */
    .dight00 {

        width   : 60%;
        position: absolute;
        top     : -3%;
        right   : 23%;
    }

    /* 雙人PNG */
    .dight01 {

        display: none;
    }

    /* 文字PNG */
    .dight02 {
        display: none;
    }

    /* 泡茶PNG */
    .dight03 {

        position: absolute;
        bottom  : 2%;
        right   : 3%;
    }



    /* 特色1文字欄 */
    .feature1_text {
        width: 80%;

    }

    /* 特色1文字欄裡-小標題 */
    .feature1_text_banner {
        width: 50%;
    }

    /* .feature1 h2,
    h4 {
        margin-left : 1em;
        margin-right: 1em
    } */

    /* 特色1按鈕 */
    .feature1_bnt {
        width      : 40%;
        margin-left: 1em;
    }

    .feature2_textbox {
        width         : 100%;
        padding-right : 10%;
        text-align    : center;
        /* line-height: 100px; */
        margin        : auto;

    }

    /* .feature2_textbox h2{
       margin-top: 5%;
        margin: auto;
    }
    .feature2_textbox h4{
       
        margin: auto;
    }
   */
    /* 真人喝茶 */
    .dight_banner01 {
        padding-right: 0%;
        width        : 100%;
    }


    /* 雙人 */
    .dight04 {

        display: none;
    }

    /* 泡澡 */
    .dight05 {
        width: 70%;

    }

    /* 茶葉 */
    .dight_banner02 {
        margin-left     : 0%;
        width           : 30%;
        margin-bottom   : 20%;
        position        : relative;
        left            : -15%;
        /* z-index      : ; */
    }

    /* 字 */
    .dight06 {
        display: none;
    }



}