.container {
    width       : 100%;
    margin-left : 230px;
    margin-right: 0px ;
}

.mobile_container {
    width         : 100%;
    /* margin-left: 0;
    margin-right  : 0; */
}

.box {
    display   : flex;
    margin-top: 1%;
}

h5,
h1 {
    writing-mode: vertical-lr
}

h6 {
    color: darkgoldenrod;

}

.h6top {
    margin-top: 2em;
    border-top: 5px solid darkgoldenrod;
    width     : 6em;
}

.header_icon a {
    text-decoration: none;
    font-size      : 1.3em;
    color          : black;
}

.left_menu {
    overflow-y      : scroll;
    position        : fixed;
    background-color: white;
    height          : 100vh;
}

/* 右icon */
.header_icon {
    writing-mode   : vertical-lr;
    display        : inline-flex;
    justify-content: space-around;
    align-items    : center;
    height         : 450px;
}

/* 線上點餐 */
.oder {
    background-color: rgb(255, 196, 0);
    border-radius   : 25px;
    padding         : 0.2em;
    text-align      : center;
}

/* 左邊選單 */
header {
    width  : 180px;
    display: flex;
}

.header_icon h3 {
    display: inline-block;
}

.menu ul {
    margin-top: -50%;
}

.menu li {
    list-style-type: none;
}

.menu p {
    margin-bottom: 0;
    color        : rgb(228, 186, 109);
}

.menu a {
    text-decoration: none;
    color          : black;
}





.banner_p h5 {
    font-size: 15px;
}

.banner_active {
    background-image: url(../images/paper_1.png);
    padding-top     : 100px;
    display         : flex;
    justify-content : space-around;
   
}

.mobile_banner_p {
    display: none;
}

.banner_img {
    position: relative;
}

/* 手機板banner */
.mobile_banner_img {
    display: none;
}

/* 飲料 */
.himag01 {
    position: relative;
    bottom  : 0;
    left    : 0%;
    z-index : 5;
    
}

.people2 {
    position: absolute;
    top     : 0;
    left    : 45%;
    transform:translatey(-10px);
    transition: all 0.5s;

}

    /*吸管 */
.himag03 {
    position: absolute;

    left: 30%;
    transform:translatey(8px);
     transition: all 0.5s ease-in-out 0.58s;
    
}

/* 檸檬 */
.himag02 {
    position: absolute;
    bottom  : 0%;
    left    : 65%;
    z-index : 6;
    
    transition: all 0.5s step-end 1s;
    transform:translate(2px);
   
}

/* 左字 */
.himag05 {
    position: absolute;
    bottom  : 60%;
    left    : 5%;
    transform:translatey(8px);
     transition: all 1s ease-in-out 0.8s;
}

/* 右字 */
.himag06 {
    position: absolute;
    bottom  : 40%;
    left    : 89%;
    z-index : 7;
    transform:translatey(-8px);
     transition: all 1s ease-in-out 1s;
}

/* 右葉 */
.leaf01 {
    position: absolute;
    right   : -25%;
    bottom  : 10%;
    transform:translate(8px);
    transition: all 1s ease-in-out 1.2s;
}

/* 左上葉 */
.leaf02 {
    position: absolute;
    left    : -35%;
    top     : -20%;
    transform:translate(18px);
    transition: all 1s ease-in-out 1.2s;
}

/* 左葉 */
.leaf03 {
    position: absolute;
    left    : 1%;
    bottom  : 30%;
    transform:translate(8px);
    transition: all 1s ease-in-out 1.2s;
}

/* 手機導覽漢堡 */
.menu_icon {
    width    : 70px;
    height   : 50px;
    /* border: 1px solid #000; */
    position : relative;
    top      : -60px;
    right    : -90%;
    display  : none;
}

.mobile_menu_icon1,
.mobile_menu_icon2,
.mobile_menu_icon3 {
    transition      : all 1s;
    position        : absolute;
    width           : 100%;
    height          : 8px;
    background-color: #000;
}

/* 漢堡選單上面橫槓 */
.mobile_menu_icon1 {

    top: 0;
}

/* 漢堡選單下面橫槓 */
.mobile_menu_icon3 {

    bottom: 0;
}

/* 漢堡選單中間橫槓 */
.mobile_menu_icon2 {
    top      : 50%;
    transform: translateY(-50%);
}

/* active 漢堡 */
.openmobile_menu_icon3,
.openmobile_menu_icon1 {
    top      : 50%;
    transform: translateY(-50%);
}

.openmobile_menu_icon2 {
    display: none;
}

.openmobile_menu_icon1 {
    transform: rotate(45deg);
}

.openmobile_menu_icon3 {
    transform: rotate(-45deg);
}

.mobile_header {
    display: none;
}

.oder2 {
    display: none;
}

@media screen and (max-width: 1300px) {

    /* 大選單 */
    .left_menu {
        display : none;
        position: static;
    }

    /* 手機板header */
    .mobile_header {
        display : block;
        height  : 80px;
        position: relative;
    }

    /*    小選單 */
    .menu {
        position           : absolute;
        top                : 80px;
        left               : 0;
        width              : 100%;
        height             : 100%;
        /* display         : block; */
        background-image   : url(../images/so-white.png);
        background-size    : cover;
        z-index            : 20;
        /* overflow-y      : hidden; */
    }

    .menu ul {
        margin-top: 0%;
    }

    /* Fbicon */
    .header_icon {
        position : absolute;
        top      : 10%;
        right    : 8%;
        z-index  : 22;
        font-size: 0.8em;

    }

    /* 手機線上點餐 */
    .oder2 {
        display         : inline-block;
        background-color: rgb(255, 196, 0);
        border-radius   : 25px;
        width           : 350px;
        margin-top      : 10px;
        padding         : 0.4em;
        text-align      : center;

    }

    .oder {
        display: none;
    }

    /* 漢堡 */
    .menu_icon {
        display: block;
    }

    /* 手機板banner */
    .mobile_banner_img {
        display: none;
    }

    h5 {
        color: rgb(153, 207, 51);
    }

}

@media screen and (max-width: 910px) {

    /* 手機板banner */
    .mobile_banner_img {
        display : block;
        position: relative;
    }

    .mobile_banner_img img {
        width: 65%;

    }

    .banner_img {
        display: none;
    }

    

    h5,
    h1 {
        writing-mode: horizontal-tb;
    }

    .banner_active {

        padding-top    : 100px;
        display        : block;
        justify-content: space-around;
    }

    .banner_text {
        float: left;
        width: 35%
    }

    .banner_img {
        float: right;
        width: 60%;
    }

    .banner_p {
        display: none;
    }

    .mobile_banner_p {
        display: block;
        
    }
}

@media screen and (max-width: 650px) {
    h1 {
        color: brown;
    }

    .banner_active {
      display: flex;
      flex-direction: column-reverse;
    }
    .mobile_banner_img img{width: 100%;}
    .banner_text{width: 100%;}
}