.yellow_bubble {
    width           : 100%;
    background-color: rgb(255, 208, 0);
    padding-top     : 5%;
    padding-bottom  : 5%;

    text-align: center;
    position  : relative;
}

.yellow_bubble img {
    border-radius: 99em;
    z-index: 30;

}

.yellow_bubble a {
z-index: 40;
    display        : inline-block;
    margin-top     : 2em;
    text-decoration: none;
    color          : #000;
    padding        : 1em;
    border         : 3px solid#000;
}


.yellow01 {
    position: absolute;
    left    : 5%;
    top     : 5%;
}

.yellow06 {
    position: absolute;
    top     : 5%;
    left    : 5%;
    width   : 110px;
    height  : 110px;
    display : block;
    border  : 1px solid rgb(245, 245, 233);

    border-radius: 99em 80em;
    animation    : animate 3s linear infinite;

}

.yellow11 {
    position: absolute;
    top     : 5%;
    left    : 5%;
    width   : 110px;
    height  : 100px;
    display : block;
    border  : 1px solid rgb(245, 245, 233);


    border-radius: 99em 80em;
    animation    : animate2 3s linear infinite;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}


.yellow02 {
    position: absolute;

    left: 4%;
    top : 40%;
}

.yellow07 {
    position: absolute;

    left: 4%;
    top : 40%;

    width  : 210px;
    height : 210px;
    display: block;
    border : 1px solid rgb(245, 245, 233);

    border-radius: 86% 95% 89% 99%/99% 99% 99% 79%;
    animation    : animate 5s linear infinite;

}

.yellow12 {
    position: absolute;

    left: 4%;
    top : 40%;

    width  : 220px;
    height : 210px;
    display: block;
    border : 1px solid rgb(245, 245, 233);

    border-radius: 89% 95% 99% 77%/99% 89% 90% 99%;
    animation    : animate2 5s linear infinite;

}

.yellow03 {
    position: absolute;

    top  : 2%;
    right: 16%;
}

.yellow13 {
    position: absolute;
    top     : 2%;
    right   : 16%;
    width   : 160px;
    height  : 160px;
    display : block;
    border  : 1px solid rgb(245, 245, 233);

    transform    : translate(2px, 3px);
    border-radius: 90% 77% 71% 86% / 90% 90% 88% 66%;
    animation    : animate2 5s linear infinite;


}

.yellow08 {
    position     : absolute;
    top          : 2%;
    right        : 16%;
    width        : 160px;
    height       : 160px;
    display      : block;
    border       : 1px solid rgb(245, 245, 233);
    transform    : translate(2px, 3px);
    border-radius: 90% 77% 90% 60%/90% 90% 80% 76%;
    animation    : animate 5s linear infinite;

}

.yellow04 {
    position: absolute;

    bottom: 22%;
    right : 19%;

}

.yellow09 {
    position: absolute;

    bottom       : 22%;
    right        : 19%;
    width        : 110px;
    height       : 110px;
    display      : block;
    border       : 1px solid rgb(245, 245, 233);
    transform    : translate(2px, 3px);
    border-radius: 68% 77% 90% 69%/93% 90% 87% 66%;
    animation    : animate 8s linear infinite;

}

.yellow14 {
    position: absolute;

    bottom       : 22%;
    right        : 19%;
    width        : 110px;
    height       : 110px;
    display      : block;
    border       : 1px solid rgb(245, 245, 233);
    transform    : translate(2px, 3px);
    border-radius: 88% 77% 90% 69%/93% 70% 97% 66%;
    animation    : animate2 5s linear infinite;

}

.yellow05 {
    position: absolute;

    bottom: 40%;
    right : 3%;
}

.yellow10 {
    position: absolute;

    bottom       : 40%;
    right        : 3%;
    width        : 120px;
    height       : 125px;
    display      : block;
    border       : 1px solid rgb(245, 245, 233);
    transform    : translate(2px, 3px);
    border-radius: 88% 77% 90% 69%/93% 90% 87% 66%;
    animation    : animate 5s linear infinite;

}

.yellow15 {
    position: absolute;

    bottom       : 40%;
    right        : 3%;
    width        : 120px;
    height       : 125px;
    display      : block;
    border       : 1px solid rgb(245, 245, 233);
    transform    : translate(2px, 3px);
    border-radius: 98% 77% 90% 69%/93% 60% 87% 66%;
    animation    : animate2 5s linear infinite;

}

.yellow20 {
    position : absolute;
    bottom   : 50px;
    animation: animate3 3s linear infinite;
}

.yellow21 {
    background-color: salmon;
    position        : absolute;
    width           : 100px;
    left            : 5%;
    bottom          : -100px;
    animation       : animate4 5s linear infinite;
}

.yellow22 {
    position : absolute;
    bottom   : 10px;
    left     : 10%;
    animation: animate4 5s linear infinite;
}

.yellow23 {
    position: absolute;
    bottom  : -10px;
    left    : 15%;

    animation: animate5 2s ease-in infinite;
}

.yellow24 {
    position: absolute;
    bottom  : 30px;
    left    : 20%;

    animation: animate3 1.5s linear infinite;
}

.yellow25 {
    position: absolute;
    bottom  : 30px;
    left    : 25%;

    animation: animate5 4s ease-out infinite;
}

.yellow26 {
    position: absolute;
    bottom  : -10px;
    left    : 30%;

    animation: animate3 2s linear infinite;
}

.yellow27 {
    position: absolute;
    bottom  : 90px;
    left    : 35%;

    animation: animate5 4s linear infinite;
}

.yellow28 {
    position: absolute;
    bottom  : 190px;
    left    : 40%;

    animation: animate5 5s ease-in-out infinite;
}

.yellow29 {
    position: absolute;
    bottom  : 150px;
    left    : 45%;

    animation: animate4 4s ease-in-out infinite;
}

.yellow30 {
    position: absolute;
    bottom  :70px;
    left    : 50%;

    animation: animate3 3s linear infinite;
}

.yellow31 {
    position: absolute;
    bottom  : -10px;
    left    : 55%;

    animation: animate3 2s linear infinite;
}

.yellow32 {
    position: absolute;
    bottom  : 90px;
    left    : 60%;

    animation: animate4 1s linear infinite;
}

.yellow33 {
    position: absolute;
    bottom  : 100px;
    left    : 65%;

    animation: animate5 1s linear infinite;
}

.yellow34 {
    position: absolute;
    bottom  : 80px;
    left    : 70%;

    animation: animate3 3s linear infinite;
}

.yellow35 {
    position: absolute;
    bottom  : -30px;
    left    : 75%;

    animation: animate4 4s linear infinite;
}

.yellow36 {
    position: absolute;
    bottom  : 0px;
    left    : 80%;

    animation: animate5 2s linear infinite;
}

.yellow37 {
    position: absolute;
    bottom  : 11px;
    left    : 85%;

    animation: animate3 3s linear infinite;
}

.yellow38 {
    position: absolute;
    bottom  : 90px;
    left    : 90%;

    animation: animate5 2s ease-out infinite;
}

.yellow39 {
    position: absolute;
    bottom  : -25px;
    left    : 95%;

    animation: animate5 3s ease-in-out infinite;
}

.yellow40 {
    position: absolute;
    bottom  : -20px;
    left    : 98%;

    animation: animate5 2s ease-in infinite;
}

.bubble div {
    width           : 10px;
    height          : 10px;
    border          : 1px solid rgb(245, 245, 233);
    border-radius   : 50%;
    background-color: rgb(245, 245, 233);

}

.bubble {
    position       : relative;
    display        : flex;
    justify-content: space-between;

}

@keyframes animate3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        position: absolute;
        bottom  : 200px;
        opacity : 0;

    }
}

@keyframes animate4 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        position: absolute;
        bottom  : 400px;
        opacity : 0;
    }
}

@keyframes animate5 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        position: absolute;
        bottom  : 500px;
        opacity : 0;
    }
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 910px) {

    .yellow01,
    .yellow02,
    .yellow03,
    .yellow04,
    .yellow05,
    .yellow06,
    .yellow07,
    .yellow08,
    .yellow09,
    .yellow10,
    .yellow11,
    .yellow12,
    .yellow13,
    .yellow14,
    .yellow15,
    .yellow04,
    .yellow04,
    .yellow05 {
        display: none;
    }

    .yellow_bubble {
        padding-bottom: 15%;
    }

}


@media screen and (max-width: 650px) {}