/* /////////////////特色3文字欄裡-小標題//////////////////// */
.feature3_text_banner {
    vertical-align : top;
    width          : 70%;
    display        : flex;
    justify-content: space-between;

}

.feaure3_text_banner_logo {
    background-color : rgb(255, 208, 0);
    background-image : url(../images/02/people.png);
    /* padding-bottom: 10%; */

    width        : 50px;
    height       : 50px;
    border-radius: 50%;
}

.feaure3_text_banner_h4 {
    color        : rgb(255, 208, 0);
    width        : 15%;
    border-bottom: 3px solid rgb(255, 208, 0);
}

.feaure3_text_banner_p {
    color    : rgb(255, 208, 0);
    width    : 20%;
    font-size: 3em;

}

/* 特色3按鈕 */
.feature3_bnt {
    border: 3px solid #000;

    padding           : 0.5em;
    /* display        : flex; */
    text-decoration   : none;
    color             : black;
    width             : 40%;
    /* clear          : both; */
}

.feature3 a {
    text-decoration: none;
    color          : #000;
}

/* ///////////////////特色3文字欄裡-小標題 end////////////////// */


.feature3_text_play h3 {

    color  : rgb(255, 208, 0);
    padding: 0;
    margin : 0;

}


.feature3_textbox {
    width: 15%;
}

.feature3_img {
    width: 70%;
}

.feature3 {
    /* position      : relative; */
    /* margin-top     : 10%; */
    display        : flex;
    justify-content: space-around;
}

.slide-content {
    /* width: 100% ; */
    text-align       : center;
    /* padding-bottom: 5%; */
}

.slide-content  div{

}
.slide-content h3 {
    font-size: 1em;
}

.slide-content img {

    /* max-width: 100%; */
    margin   : auto;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 910px) {}


@media screen and (max-width: 650px) {}